/******************************/

/* Oral Histories */

/******************************/

/* Common Styles */

.flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100%;
}

/* Section One */

.section-one {
    height: 230vh;
    width: 100%;
    background-color: var(--Dark-Brown);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-one h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4rem;
    text-shadow: 0rem 0.5rem 2rem rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: 'MartinDisplayBold', Fallback, sans-serif;
    letter-spacing: .05rem;
}

.section-one h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 0rem 0.5rem 2rem rgba(255, 255, 255, 0.2);
    color: #fff;
    font-family: 'MartinDisplayBold', Fallback, sans-serif;
    letter-spacing: .05rem;
}

.section-one h2:nth-of-type(1){
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

/* .section-one h2:nth-of-type(2),
.section-one h2:nth-of-type(3) {   
    margin-bottom: 1rem;
    margin-top: 2.5rem;
} */

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1.5rem;
}

.text-block p {
    font-family: var(--Bodoni);
    font-size: 1rem;
    color: #fff;
    margin: .5rem 0;
    font-weight: 400;
    line-height: 1.35rem;
    letter-spacing: .02rem;
    cursor: default;
}

.section-one img {
    width: 40rem;
    border-radius: .5rem;
    z-index: 2;
    box-shadow: rgba(255, 255, 255, 0.2) 0rem .5rem 2rem;
    cursor: pointer;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

/* Soundbite Recorder */

.soundbite-holder {
    background: linear-gradient(var(--Background), var(--Background-Alt));
    padding: 2rem;
    border-radius: .5rem;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.2) 0rem .5rem 2rem;
    margin-top: 4rem;
}