@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Oswald:wght@100..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: 'MartinDisplayBold';
  src: url('assets/fonts/VTCMartinDisplay-XBold.woff2') format('woff2'),
}

@font-face {
  font-family: 'MartinDisplayBoldForward';
  src: url('assets/fonts/VTCMartinDisplay-XBoldForward.woff2') format('woff2'),
}

:root {
  --Anton: "Anton", sans-serif;
  --Antonio: "Antonio", sans-serif;
  --Bodoni:"Lato", sans-serif;
  --Oswald: "Oswald", sans-serif;
  --Background: rgba(170, 138, 82, 0.95);
  --Background-Alt: rgba(216, 182, 125, 0.95);
  --Background-Blue: rgba(100, 155, 146, 0.9);
  --Background-Blue-Alt: rgba(141, 211, 199, 0.9);
  --Background-Blue-Dark: rgba(72, 120, 112, 0.9);
  --Maroon: #730900;
  --Dark-Brown: #402e32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: var(--Anton)
}

/*Splash Page*/

.splash-container {
    background-image: url("assets/images/Hunger_Wall.JPG");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
}

.splash-inner {
    width: 50rem;
    height: auto;
    background: linear-gradient(var(--Background), var(--Background-Alt));
    padding: 1.5rem;
    border-radius: .5rem;
    display: none;
}

.splash-title {
    display: flex;
    align-items: center;
}

.splash-title img {
    height: 2.3rem;
    -webkit-filter: drop-shadow(.5rem .5rem .5rem #000);
    filter: drop-shadow(.5rem .5rem .5rem #000);
    margin-right: 1.5rem;
}

.splash-inner .splash-title p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.95rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    /* font-family: var(--Anton); */
    font-family: 'MartinDisplayBold', Fallback, sans-serif;
    letter-spacing: .05rem;
}

.splash-inner .splash-title span {
    font-weight: 200;
    font-size: 1.6rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    font-family: var(--Antonio);
    padding-left:.5rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

/*Adjust splash paragraph text font weight*/

/* .splash-inner p {
    font-weight: 500 !important;
} */

/*End font weight adjustment*/

.splash-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height:2rem;
    width:10rem;
    border-radius: .5rem;
    background-color: var(--Dark-Brown);
    transition: all .3s;
    z-index: 2;
    border:none;
    color: #fff;
    font-family: var(--Bodoni);
    font-size: .8rem;
    /* margin: 1rem 0; */
}

.splash-btn:hover {
    background-color: var(--Background);
    transform: translateY(-0.05rem);
}

/* Splash fonts */

.panel-line {
    width: 100%;
    height: 2px;
    background-color: var(--Maroon);
    margin: .5rem 0;
    opacity: 0.7;
    border-radius: 99px;
}

.splash-inner h3 {
    color: var(--Dark-Brown);
    letter-spacing: .15rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.splash-inner p {
    font-family: var(--Bodoni);
    font-size: 1rem;
    color: var(--Dark-Brown);
    margin: .75rem 0;
    font-weight: 400;
    line-height: 1.35rem;
    letter-spacing: .02rem;
    cursor: default;
}

/*End Splash Page*/

/*Navbar*/

.navbar {
    width: 100%;
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(var(--Background), var(--Background-Alt));
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.3);
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 3rem;
}

.logo-title img {
    height: 2.3rem;
    -webkit-filter: drop-shadow(.5rem .5rem .5rem #000);
    filter: drop-shadow(.5rem .5rem .5rem #000);
    margin-right: 1.5rem;
    transition: transform 0.3s;
}

.logo-title img:hover {
    transform: translateY(-0.06rem);
}

.navbar p {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.35rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    letter-spacing: .05rem;
    cursor: default;
    font-family: 'MartinDisplayBold', Fallback, sans-serif;
}

.navbar span {
    font-weight: 200;
    font-size: 1.9rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: var(--Dark-Brown);
    font-family: var(--Antonio);
    padding-left: .7rem;
}

.nav-items {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 3rem;
}

.nav-item {
    transition: all 0.3s;
}

.nav-item:hover {
    transform: translateY(-0.09rem);
}

.nav-link {
    font-family: var(--Bodoni);
    color: var(--Dark-Brown);
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: color 0.3s;
}

/*End Navbar*/

.background {
  height: 100vh;
  width: 100%;
  background: var(--Dark-Brown);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  grid-template-rows: auto auto;        /* two rows */
  width: 80%;
}

.cell {
  height: auto;
  margin: .1rem;
  position: relative;
}

.cell h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: white;
  font-size: 2.35rem;
  text-shadow: 0 0 8px black;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s;
  font-family: 'MartinDisplayBold', Fallback, sans-serif;
  letter-spacing: .05rem;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .25rem;    
}

.cell:not(:last-of-type) {
  transition: all 0.3s;
  cursor: pointer;
}

.cell:not(:last-of-type):hover {
  transform: translateY(-0.2rem);
  opacity: 0.9;
  box-shadow: rgba(255, 255, 255, 0.2) 0rem .5rem 2rem;
}

.cell:not(:last-of-type):hover h3 {
  opacity: 1;
}

.bottom {
  grid-column: 1 / 5;
}

/* Input Section */

.map-container {
    width: 60%;
    height: 40rem;
    background-color: var(--Background);
    /* margin-top: 10rem; */
    padding: 2rem;
    border-radius: .5rem;
}

.map-container p {
    font-family: var(--Bodoni);
    padding: 1rem 0;
}

#viewDiv {
      padding: 0;
      margin: 0;
      height: 20rem;
      width: 100%;
      z-index: 3;
      background-color: white;
}